Storage:  # クラウドストレージ接続のための情報（環境に応じて要変更）
    Server: minio.example.com   # クライアントがアクセスするストレージサーバ
    Endpoint: minio.example.com # そのサーバのAPIエンドポイント
    AccessKey: *************
    SecretKey: *****************
    HTTPS: true         # クライアントがストレージにhttpsでアクセスする場合はtrue
    SecureEndpoint: true    # APIエンドポイントへのSSLアクセス
    BucketAsVirtualHost: false      # trueで、バケット名をサブドメインとしてアクセス（S3の新デフォルト）

SavePlayState: false    # trueで、index.htmlの各エピソードの再生状態を
                        # ブラウザーのローカルストレージに保存する

Podcasts:
    -   Title: タイトル
        Subtitle: サブタイトル（省略可）
        Author: 作者
        Email: author@example.com   # これがないと、authorタグとitunes:authorタグがfeedに含まれない
        Description: Podcastの簡単な説明
        Bucket: bucketname
        Folder: foldername
        Serial: 0       # タイトルに自動連番をつけるなら、初回の番号。つけないなら0
        Active: true    # このフォルダを更新対象にするならtrue

    -   Title: タイトル2
        Subtitle: サブタイトル2
        Author: 作者2
        Email: author2@example.com
        Description: Podcastの簡単な説明2
        Bucket: bucketname2
        Folder: foldername2
        Serial: 0
        Active: true