{{- define "styles" -}}
body {
  font-family: Verdana, "Droid Sans", Meiryo, Arial;
  color: #222;
  font-size: 16px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  background: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}

#header-inner, main, footer {
  max-width: 630px;
  padding: 0 15px 30px;
  margin: 0 auto;
}

#header-inner {
  padding: 20px 13px;
  display: grid;
  grid-template-rows: minmax(auto, 100%) minmax(auto, 100%);
  grid-template-columns: 85% minmax(auto, auto);
  grid-template-areas:
	"A C"
	"B C";
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:visited {
  color: #609;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 30px;
}

li {
  margin: .3em 0;
}

#banner {
  color: inherit;
  line-height: 1.2;
  font-size: 7.7vw;
  grid-area: A;
}

.site-description {
  font-size: small;
  margin-top: .3em;
  text-align: justify;
  padding: 0 20px 0 0;
  grid-area: B;
}

.toppic {
  grid-area: C;
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.episode {
  margin-top: 20px;
  margin-bottom: 30px;
}

.episode-border {
  outline-width: thin;
  outline-color: #c0c0c0;
  outline-offset: 10px;
  outline-style: solid;
}

.title {
  display: inline-block;
  font-size: 18px;
}

.time-saved {
  color: #339900;
}

.description, .donate {
  color: #3C4043;
  font-size: 14px;
  margin-top: .3em;
}

audio {
  width: 90%;
}

.player-container, .seek {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.player-container {
  margin: 20px auto 45px auto;
  margin-top: 20px;
  padding: 10px 0 5px 0;
  text-align: center;
  font-size: small;
  border-bottom: 1px solid white;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white;
  transition: border-bottom-color .3s;
}

.player-control {
  text-decoration: underline;
  cursor: pointer;
}

.player-hidden {
  display: none
}

.seek {
  border-bottom: 1px dotted;
  white-space: nowrap;
}

.seek:hover {
  cursor: pointer;
}

.chapters {
  margin: 30px 0px;
  border-spacing: 0;
  border: none;
}

.chap-time {
  padding: .3em .8em .3em 1em;
  vertical-align: top;
  text-align: right;
}

.chap-text {
  padding: .3em .5em .3em 0;
  width: 100%;
}

.chapters tr:nth-child(even) {
  background-color: #f8f8f8;
}

.focus {
  background-color: cornsilk !important;
}

.nobr {
  white-space: nowrap;
  line-height: 2;
}

.date {
  margin-top: .6em;
  padding: 0 .3em 1em 0;
  float: right;
}

footer {
  font-size: small;
  margin-top: 0 auto;
}

@media (max-width: 349px) {
  #banner {
    font-size: 7.6vw;
  }
}

@media (min-width: 500px) {
  #banner {
    display: inline;
    font-size: 32px;
  }
  audio {
    width: 80%;
  }
}
{{- end -}}
